body, html {
    height: 100%;
    margin: 0;
}



.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/header-image.jpg");
    
    height: 40%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    padding: 10px;
    text-align: center;
    position: relative;
    width: 40%;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: white;
    

}

.about{
    position: relative;
    text-align: center;
    height: 50%;
    margin-left: 10%;
    margin-right: 15%;
    
   
}

.info {
    float: right;
    right: 0;
    width: 50%;
    text-align: center;
       
}
.callout{
    border: black, 2px;
    border-style: solid;
    border-radius: 40px;
}

img {
    padding-top: 1em;
    height: 80%;
}

.schedule{
    position: relative;
    height: 30%;
    background-color:rgba(238,235,229,1)
}


.schedule h1{
    text-align: center;
    
}



@media only screen and (max-width:700px) {
    /* For mobile phones: */
    .hero-image .about .schedule{
      width:100%;
    }

    .hero-text{
        font-size: 3vw;
    }


}